#heading
    .r:empty
        display none
        ~.l
            width 970px
            position relative
            .author
                position absolute
                margin-top 0px
                margin-right 0px
                top 52px
                right 3px

img.zoomable
div.zoom
div.picture
.hlavni-obrazek-popis
    display none !important


div#dlazdice
    height auto !important
    #dlazdice-container
        position relative !important
        margin-top 3px
        margin-bottom 4px
    #temadne
        display none
    #titulek
        top 15px !important
    #jin
        top 45px !important
    #jang
        top 45px !important

